.min-height-product {
    min-height: 300px !important;
    max-height: 300px !important;
}


.Toastify__toast-container  {
  margin-top: 30px !important;
}
.Toastify__toast-container--top-right {
  margin-top: 77px !important;
}